body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: #f2f2f2; */
}

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: aliceblue;
  background-color: rgb(18, 14, 39);
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(18, 14, 39, 0.8);
  margin: 50px;
  width: 50%;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 15px;
  border: none;
}

.navbar {
  margin: 0;
  width: 100%;
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: right;
  align-items: center;
  color: white;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
}

a {
  color: rgb(95, 218, 13);
  text-decoration: none;
  margin: 35px;
  font-size: 20px;
  font-weight: bold;
}

.create-recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 400px;
}
.create-recipe form {
  display: flex;
  flex-direction: column;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
}

h2 {
  margin-top: 0;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

img {
  width: 400px;
}

p {
  max-width: 400px;
  font-size: 16px;
}

.error-message{
  color: red; 
  font-size: 17px; 
  margin: 5px; 
}

button {
  background-color: rgb(73, 141, 138);
  border-radius: 16px;
  border: none;
  width: 5.2rem;
  height: 25px;
  color: bisque;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  outline: none !important;
  margin-right: 10px;
}

button :hover {
  background-color: rgb(77, 31, 5);
  transform: scale(0.98);  
  
}

.landing {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

/* Paragraph Styles */
.landing p {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
  text-align: left; /* Align the paragraph to the left */
  margin-left: 20px; /* Add some left margin for spacing */
  width: 80%; /* Limit the width of the paragraph to 80% of the container */
}

.landing h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

.landing h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.landing ul {
  list-style: disc;
  margin-left: 20px;
}

.landing li {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.cta-buttons {
  margin-top: 20px;
}

.cta-buttons button {
  font-size: 14px;
  border: none;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

.cta-buttons button:hover {
  background-color: #0056b3;
}


@media (max-width: 768px) {
  .auth-container{
    width: 80%;
  }

  .navbar{
    font-size: 1rem;
  }

  a{
    font-size: 13px;
    margin: 7px;
  }

  p{
    font-size: 12px;
  }

  label{
    font-weight: 700;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .auth-container{
    width: 80%;
  }
  .navbar{
    font-size: 0.8rem;
  }

  a{
    font-size: 12px;
    margin: 3px;
  }

  p{
    font-size: 10px;
  }

  label{
    font-weight: 600;
    font-size: 10px;
  }
}